PORT=3000
NODE_ENV=development
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
FIREBASE_PROJECT_ID=practical-gecko-476621-q4
FIREBASE_CLIENT_EMAIL=
# Firebase Client Config (Public)
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_FIRESTORE_DB_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=

# Firebase Admin SDK (Private)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
